{% include 'layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header" >
            <b>BadBoys High School Performance Dashboard</b> 
        </div>
        <div class="card-body">
            <h5 class="card-title">Hello {{ user.firstname }}!</h5>
            <p class="card-text">Your current average weekly study time is {{ user.studyhours or 0 }} hours.</p>

           
            <a href="/dashboard/student/{{ user.id }}/results" class="btn btn-primary">View Results</a>
            <a href="https://bbhs-mobile.streamlit.app/" class="btn btn-warning">Productivity App</a>

        </div>
    </div>
</div>

