{% include 'teachers-layout.html' %}

<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <b>Teacher Dashboard</b>
        </div>
        {% if msg %} 
           {% if msg == 'Student Performance successfully added!' or msg == 'Performance record deleted successfully.'
            or msg == 'Performance record added successfully.' or msg_type == 'success' %}
           <div class="alert alert-success" role="alert">
                {{msg}}
           </div>
           {% else %}
           <div class="alert alert-danger" role="alert">
                {{msg}}
           </div>
           {% endif %}
           {% endif %}
        <div class="card-body">
            <h5 class="card-title">Your Students' Performance Metrics!</h5>
            <p class="card-text">Information regarding your performance data</p>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student</th>
                    <th scope="col">Exam Date</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Exam Type</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody>
                    {% for performance in performances %}
                    <tr class="{% if performance.performance < 50 %}table-danger{% elif performance.performance >= 70 %}table-success{% else %}table-warning{% endif %}">
                        <td>{{ loop.index }}</td>
                        <td>{{ performance.student_username }}</td>
                        <td>{{ performance.exam_date }}</td>
                        <td>{{ performance.subject_name }}</td>  <!-- Display subject name -->
                        <td>{{ performance.exam_type | capitalize }}</td>
                        <td>{{ performance.performance }}%</td>
                        <td>
                            <button onclick="window.location.href='{{ user.id }}/edit-performance/{{performance.id}}'"
                                    type="button" class="btn btn-info">
                                Edit
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="/dashboard/teacher/{{ user.id }}/add-performance" class="btn btn-primary">Add a new Performance Metric!</a>
            <a href="javascript:void(0)" class="btn btn-primary" onclick="window.location.reload()">Refresh</a>
        </div>
    </div>
</div>
